.donate-page {
  .title {
    margin: 120px 0 50px 0;
    font-size: 30px;
    font-weight: 900;
  }
  .address {
    text-align: center;
    line-break: anywhere;
    margin: 60px;
    font-size: 25px;
  }
  .result {
    margin-top: 200px;
    font-size: 20px;
    font-weight: 500;
  }
}