.send-message-page {
  .title {
    margin: 120px 0 50px 0;
    font-size: 30px;
    font-weight: 900;
  }
  input {
    margin-top: 50px;
    height: 40px;
    width: 200px;
    font-size: 20px;
  }
  .result {
    margin-top: 200px;
    font-size: 20px;
    font-weight: 500;
  }
}